body {
    font-family:  "Open Sans", sans-serif;
    color: #6A6A6A;
}

.bg-gray {
    background: #ebebeb;
}

.bg-light {
    background: #fff!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #323232;
    font-weight: 700;
}

.slide {
    background: url(img/slide.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
    
}

.stitle {
    color: #fff;
    
    font-size: 48px;
}

.sp {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.btitle1 {
    color: #000;
}

.btitle1s {
    color:#FFB322;
    font-weight: 700;
}

.bg-sec {
    background: #ebebeb;
}

.bg-sec2 {
    background: #115c87;
}

.banner2 {
    color: #fff;
}

.tcb {
    color: #115c87;
}

.lead {
    font-size: 22px;
    font-weight: 400;
}

.ttc2 {
    color: #323232;
}

.tc2 {
    color: #6A6A6A;
}

.fa-3x {
    color: #115c87;
}

.biz h4 {
    color: #323232;
}

.fa-c {
    color: #115c87;
}

footer,
.fcopy {
    color: #b6c5d2;
}

footer h4 {
    color: #fff;
}

.bg-fc {
    background: #0b4e75;
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
}

.social li {
    display: inline-block;
}

.social a {
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #0088AA;
    line-height: 40px;
    text-align: center;
}

.tlf,
.mail {
    border: 1px solid #0088AA;
    background: #fff;
    border-radius: .25rem;
}

.tlf h4 {
    color: #115c87;
}

.btn-primary {
    border-color: #115c87;
    background: #115c87;
}

.form-control {
    border-color: #0088AA;
}

.fatlf {
    vertical-align: sub;
}


.navbar-brand {
    letter-spacing: 10px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(17, 92, 135, 0.5);
    font-variant: small-caps;
}
